footer{
    background-color: var(--color-bg);
    padding: 2rem 0;
    padding-bottom: 7.5rem;
    text-align: center;
    font-size:0.8rem;
    margin-top:5rem;
}

footer a{
    color:var(--color-light)
}

.footer_logo{
    font-size: 2rem;
    font-weight: 500;
    display: inline-block;
}

.permalinks{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    gap:2rem;
    margin: 0 auto 1.5rem;
    color: white!important;
}

.footer_socials{
    display: flex;
    justify-content: center;
    gap:1rem;
    margin-bottom: 2.5rem;
}

.footer_socials a{
    background: var(--color-primary);
    color:var(--color-white);
    padding: 0.6rem;
    border-radius:0.7rem;
    display: flex;
    border: 1px solid transparent;
    font-size: 1rem;
}

.footer_socials a:hover{
    background: transparent;
    color:var(--color-light);
    border-color: var(--color-light);
}

.footer_copyright{
    margin-bottom: 1rem;
    color:var(--color-light)!important;
}

footer a img{
    max-width: 50px;
}