@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding:0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root{
  --color-bg: #1c1b1b;
  --color-bg-variant:#807777;
  --color-primary:#c0210c;
  --color-primary-variant:rgba(248, 75, 52, 0.847);
  --color-white:#fff;
  --color-light:rgba(255,255,255,0.6);
  --color-beige:rgba(245, 235, 221, 0.902);


  --transition: all 400m ease;

  --container-width-lg:75%;
  --container-width-md:86%;
  --container-width-ms:90%;
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}

body{
  font-family: 'Poppins', sans-serif;
  background: var(--color-bg);
  color:var(--color-white);
  line-height:1.7;
  /* background-image: url('./assets/bg-texture.png'); */
  background-image:url('./assets/vertical_cloth.png');
}

/* =================General Styles=============== */
.container{
  width: var(--container-width-lg);
  margin: 0 auto ;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 500;
}

h1{
  font-size: 2.5rem;
}

section{
  margin-top: 8rem;
}

section  h2,
section  h5{
  text-align: center;
  color:var(--color-light);
}

section h2{
  color: var(--color-primary);
  margin-bottom: 3rem;
}

h4{
  color: var(--color-primary);
}

h6{
  font-size: 0.8rem;
  line-height: 24px;
  letter-spacing: 1px;
}

.text-light{
  color: var(--color-light);
}

a{
  color:var(--color-primary);
  transition: var(--transition);
}

a:hover{
  color:var(--color-white);
}


.btn{
  width:6rem;
  display: inline-block;
  /* color: var(--color-primary); */
  color:var(--color-light);
  padding: .5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
  text-align: center;
  margin: 0.8rem 0.3rem;
  font-size: 0.7rem;
}

.btn:hover{
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary{
  background:var(--color-primary);
  /* color: var(--color-bg); */
  color: aliceblue;
}


img{
  display: block;
  width:100%;
  object-fit: cover;
}

/* =====================Media Queries (Medium Devices)================== */
@media screen and (max-width:1024px){
  .container{
    width:var(--container-width-md);
  }

  section{
      margin-top:15rem;
      /* min-height: 100vh; */
    }

    .btn{
      padding: .5rem 0.7rem;
    }


}


/* =====================Media Queries (Small Devices)================== */
@media screen and (max-width:600px){
  .container{
    width:var(--container-width-sm);
  }

  section > h2{
      margin-bottom:2rem;
    }

   
}


